.end {
 background-color: grey;
 width: 100%;
 height: 80px;
 text-align: center;
 color:aliceblue;
 justify-content: center;
}

.fin {
    padding-top: 30px;
}

body {
    background-color: rgba(224, 190, 190, 0.685);
}